Language: Cpp
Standard: c++20

BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true # CLANG10
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
  IndentBraces: false

AlwaysBreakTemplateDeclarations: true
AlwaysBreakBeforeMultilineStrings: true

BinPackArguments: true
BinPackParameters: false

AlignAfterOpenBracket: DontAlign # BAS_Align could be nice
AlignConsecutiveMacros: false # CLANG10
AlignConsecutiveDeclarations: false # This one might be nice to set to true
AlignEscapedNewlines: DontAlign # This one might be nice to set to ENAS_Left

AlignOperands: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: false # CLANG10
AllowAllArgumentsOnNextLine: false #CLANG10

BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakStringLiterals: false
ColumnLimit: 100
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
PointerAlignment: Left
DerivePointerAlignment: false
FixNamespaceComments: true

Cpp11BracedListStyle: true

SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true

IncludeBlocks: Preserve
SortIncludes: true
SortUsingDeclarations: true

IndentCaseLabels: true
IndentPPDirectives: None
IndentWrappedFunctionNames: false

NamespaceIndentation: None
SpaceAfterCStyleCast: false
#SpaceAfterLogicalNot: false # CLANG10
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true

SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

ReflowComments: true

AccessModifierOffset: -4
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation

# The penalty for breaking around an assignment operator.
PenaltyBreakAssignment: 0

# The penalty for breaking a function call after call.
PenaltyBreakBeforeFirstCallParameter: 300

# The penalty for each line break introduced inside a comment.
PenaltyBreakComment: 0

# The penalty for breaking before the first <<.
PenaltyBreakFirstLessLess: 0

# The penalty for each line break introduced inside a string literal.
PenaltyBreakString: 0

# The penalty for breaking after template declaration.
PenaltyBreakTemplateDeclaration: 500

# The penalty for each character outside of the column limit.
# Never go over 100, set it to rediculous levels
PenaltyExcessCharacter: 9000

# Penalty for putting the return type of a function onto its own line.
PenaltyReturnTypeOnItsOwnLine: 200
